<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fukayatsu.sushiyuki</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5629E5DA-84AE-45AB-8E26-3C977BB170F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>837A475C-23A7-441E-9D05-FE319AEB4728</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA02ECD3-5EB8-4CCA-8167-2818C4CC8887</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>...as Markdown</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fukayatsu</string>
	<key>description</key>
	<string>sushiyuki</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>sushiyuki</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>https://d1zd1v0cxnbx2w.cloudfront.net/images/sets/sushiyuki/{query}.png</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>837A475C-23A7-441E-9D05-FE319AEB4728</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>sushi</string>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>ruby sushi.rb "{query}"</string>
				<key>title</key>
				<string>Search sushiyuki</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5629E5DA-84AE-45AB-8E26-3C977BB170F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>![寿司ゆき:{query}](https://d1zd1v0cxnbx2w.cloudfront.net/images/sets/sushiyuki/{query}.png)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AA02ECD3-5EB8-4CCA-8167-2818C4CC8887</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>SUSHI-YUKI(寿司ゆき)
Copyright (c) 2014 awayuki. All rights reserved.</string>
	<key>uidata</key>
	<dict>
		<key>5629E5DA-84AE-45AB-8E26-3C977BB170F6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>837A475C-23A7-441E-9D05-FE319AEB4728</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AA02ECD3-5EB8-4CCA-8167-2818C4CC8887</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
